@page
@model ComesticShop.Pages.Admin.AddProductWithType.CreateModel
@{
}
@if (@Model.Role == "1")
{
    <h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Code" class="control-label"></label>
                <input asp-for="Product.Code" class="form-control" required/>
                <span asp-validation-for="Product.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" required/>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Amount" class="control-label"></label>
                <input asp-for="Product.Amount" class="form-control" required/>
                <span asp-validation-for="Product.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" required/>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.IsNeedContact" class="control-label"></label>
                <select asp-for="Product.IsNeedContact" class="form-control" required>
                    <option value="false">Không liên hệ cửa hàng</option>
                    <option value="true">Liên hệ cửa hàng</option>
                </select>
                <span asp-validation-for="Product.IsNeedContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" required/>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Product.Avatar" class="control-label"></label>
                <input asp-for="Product.Avatar" class="form-control" required/>
                <span asp-validation-for="Product.Avatar" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Img1" class="control-label"></label>
                <input type="file" asp-for="Img1" class="form-control" required/>
                <span asp-validation-for="Img1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img2" class="control-label"></label>
                <input type="file" asp-for="Img2" class="form-control" />
                <span asp-validation-for="Img2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img3" class="control-label"></label>
                <input type="file" asp-for="Img3" class="form-control" />
                <span asp-validation-for="Img3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img4" class="control-label"></label>
                <input type="file" asp-for="Img4" class="form-control" />
                <span asp-validation-for="Img4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img5" class="control-label"></label>
                <input type="file" asp-for="Img5" class="form-control" />
                <span asp-validation-for="Img5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Summary" class="control-label"></label>
                <input asp-for="Product.Summary" class="form-control" required/>
                <span asp-validation-for="Product.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DateCreated" class="control-label"></label>
                <input asp-for="Product.DateCreated" class="form-control" required/>
                <span asp-validation-for="Product.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Element" class="control-label"></label>
                <input asp-for="Product.Element" class="form-control" required/>
                <span asp-validation-for="Product.Element" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UserManual" class="control-label"></label>
                <input asp-for="Product.UserManual" class="form-control" required/>
                <span asp-validation-for="Product.UserManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId" required></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.BrandId" class="control-label"></label>
                <select asp-for="Product.BrandId" class ="form-control" asp-items="ViewBag.BrandId" required></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

}
else
{
    Response.Redirect("/Authenticate/Login");
}