@page
@model ComesticShop.Pages.Admin.AccountPage.CreateModel
@{
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>

        .btn-outline-dark:hover {
            color: #fff;
            background-color: #7f8285;
            border-color: #7f8285;
        }

        .btn-success-create {
            background-color: #64c5b1;
            color: #fff;
        }

        .btn-success-create:hover {
            background-color: #3c8b7a;
            color: #fff;
        }

    </style>
</head>

@if (@Model.Role == "1")
{

<div class="row">
    <div class="col mt-4" >
        <form method="post">
            <div class="card">
                <div class="card-header">
                        <h2 style="color: #3c8b7a">Add New Account</h2>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Accounts.Email" class="control-label"></label>
                        <input type="email" asp-for="Accounts.Email" placeholder="Account Email" class="form-control" required/>
                        <span asp-validation-for="Accounts.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Accounts.Password" class="control-label"></label>
                        <input type="text" asp-for="Accounts.Password" placeholder="Account Password" class="form-control" required/>
                        <span asp-validation-for="Accounts.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Accounts.Name" class="control-label"></label>
                        <input type="text" asp-for="Accounts.Name" placeholder="Account Name" class="form-control" required/>
                        <span asp-validation-for="Accounts.Name" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Accounts.Avatar" class="control-label"></label>
                        <input type="" asp-for="Accounts.Avatar" class="form-control" required/>
                        <span asp-validation-for="Accounts.Avatar" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Accounts.Phone" class="control-label"></label>
                        <input type="number" asp-for="Accounts.Phone" placeholder="Phone Number" class="form-control" required/>
                        <span asp-validation-for="Accounts.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Accounts.DateOfBirth" class="control-label"></label>
                        <input type="date" asp-for="Accounts.DateOfBirth" class="form-control" required/>
                        <span asp-validation-for="Accounts.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Accounts.RoleId" class="control-label"></label>
                        <select asp-for="Accounts.RoleId" class ="form-control" asp-items="ViewBag.RoleId" required></select>
                    </div>
            
                    
                </div>
                <div class="card-footer text-muted">
                    <div class="form-group">
                        <a asp-page="Index" class="btn btn-outline-dark">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-success-create" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Accounts.Email" class="control-label"></label>
                <input asp-for="Accounts.Email" class="form-control" required/>
                <span asp-validation-for="Accounts.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Password" class="control-label"></label>
                <input asp-for="Accounts.Password" class="form-control" required/>
                <span asp-validation-for="Accounts.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Name" class="control-label"></label>
                <input asp-for="Accounts.Name" class="form-control" required/>
                <span asp-validation-for="Accounts.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Avatar" class="control-label"></label>
                <input asp-for="Accounts.Avatar" class="form-control" required/>
                <span asp-validation-for="Accounts.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.Phone" class="control-label"></label>
                <input asp-for="Accounts.Phone" class="form-control" required/>
                <span asp-validation-for="Accounts.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.DateOfBirth" class="control-label"></label>
                <input asp-for="Accounts.DateOfBirth" class="form-control" required/>
                <span asp-validation-for="Accounts.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts.RoleId" class="control-label"></label>
                <select asp-for="Accounts.RoleId" class ="form-control" asp-items="ViewBag.RoleId" required></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

}
else
{
    Response.Redirect("/Authenticate/Login");
}