@page
@model ComesticShop.Pages.ShopModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/assets/css/all.min.css">

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p class="subtitle">Beauty & Fashion</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="https://xuongmocso1.com/uploads/images/thiet-ke-noi-that-shop-nuoc-hoa-2.jpg" alt="Avatar Shop"/>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 style="font-family: 'Quicksand', sans-serif;">TinaNguyen | Beauty & Fashion</h3>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <svg width="16" height="16" fill="#777" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1152 640q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm256 0q0 109-33 179l-364 774q-16 33-47.5 52t-67.5 19-67.5-19-46.5-52l-365-774q-33-70-33-179 0-212 150-362t362-150 362 150 150 362z">
                                </path>
                            </svg>
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 10px">
                                224/39/18 đường số 8, P. Bình Hưng Hòa, Q. Bình Tân
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <svg width="16" height="16" fill="#777" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-53-3.5t-57.5-12.5-47-14.5-55.5-20.5-49-18q-98-35-175-83-127-79-264-216t-216-264q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47-12.5-57.5-3.5-53q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z">
                                </path>
                            </svg>
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 10px">
                                0779160158
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <svg width="16" height="16" fill="#777" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1024 544v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23zm416 352q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                                </path>
                            </svg>
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 10px">
                                Giờ hoạt động:
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 30px">
                                Thứ 2 - Thứ 7: 08h00 - 20h00.
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 30px">
                                Chủ nhật: 10h00 - 19h00.
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                            </svg>
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif; padding-left: 10px">
                                Có một số sản phẩm cần phải nhập khẩu từ nước ngoài nên cần phải trả trước tùy theo sản phẩm và liên hệ đến shop của chúng tôi để biết thêm chi tiết.
                            </span>
                        </strong>
                    </p>
                    <ul class="product-share">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->