@page
@model ComesticShop.Pages.Customers.OrderDetailPageModel
@{
}
@if (@Model.Role == "3")
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1 style="font-family: 'Quicksand', sans-serif;">Chi tiết đơn hàng</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb-section -->
    <!-- orderdetail -->
    @*<table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Product
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="list-wrapper">
                @foreach (var item in Model.OrderDetail)
                {
                    <tr class="list-item">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div id="pagination-container"></div>*@
<div class="cart-section mt-100 mb-150">
    <div class="container">
        <div class="d-flex justify-content-start" style="padding-bottom: 20px">
            <a class="boxed-btn">
                Back to OrderHistory
            </a>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart-table-wrap" style="border: 1px solid rgb(200, 198, 198);">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                @*<th class="product-remove"></th>
                                <th class="product-image">Product Image</th>*@
                                <th class="product-image" style="font-family: 'Quicksand', sans-serif;">Product Image</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Product Name</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Product Brand</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Create Date</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Shipping Address</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Amount</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Status</th>
                                <th class="product-total" style="font-family: 'Quicksand', sans-serif;">Total</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list-wrapper">
                            @foreach (var item in Model.OrderDetail)
                            {
                                <tr class="table-body-row">
                                    @*<td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                                    <td class="product-image"><img src="assets/img/products/product-img-1.jpg" alt=""></td>*@
                                    <td class="product-image"><img src="https://japana.vn/uploads/product/2021/09/01/1630464426-at-sk-ii-facial-treatment-gentle-cleanser-120g.jpg" alt=""></td>
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        SK-II Facial Treatment Gentle Cleanser - Sữa rửa mặt - 120g
                                    </td>
                                    <td class="product-name">
                                        SK-II
                                    <td class="product-name">
                                        12/12/2022
                                    </td>
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        224 đường số 8
                                    </td>
                                    <td class="product-quantity" style="font-family: 'Quicksand', sans-serif;">
                                        1
                                    </td>
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        Status: Proccessing
                                    </td>
                                    <td class="product-price" style="font-family: 'Quicksand', sans-serif;">
                                        100000
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm disabled" asp-page="/Customers/OrderHistory" asp-route-id="@item.Id"
                                           style="font-family: 'Quicksand', sans-serif;">
                                            Cancle
                                            <!-- If else chỗ này, nếu mún disabled thằng nào thì ghi disabled trong class đó  -->
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <div id="pagination-container"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
    <!-- end orderdetail -->
}
else
{
    Response.Redirect("/Authenticate/Login");
}
